**/.idea/
**/node_modules/
**/my_custom_model/
**/results/
**/my_imdb_bert_model/
**/__pycache__/
**/before_test/
**/my_db/
**/store/
**/upload/
**/.env
.env
.env*
env*
env.py
key.py
key*
**/logs/
**/.vscode/
yolo26n**
**/data/
**/fashion_mnist/
**/runs/