<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8"/>
        <title>파일 업로드</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h3>Naak's 파일 업로드 페이지</h3>
        <form id="fileForm">
            <input type="file" name="files"/>
        </form>
        <input type="button" onclick="save()" value="전송"/>
        <!-- <h3 id="evalu"></h3>
        <div id="image"></div> -->
    </body>
    <script>
        // 파일 전송시 주의사항
        // 1. POST 방식으로 보낼것
        // 2. FromData 객체로 보낼것
        // 3. 동기 방식일 경우 enctype=multipart/form-data 명시할것
        async function save(){
            // const evalu = document.getElementById('evalu');
            // const image = document.getElementById('image');
            // evalu.innerText = '이미지를 업로드 하여 분석 중입니다...';
            console.log('click');
            const form = new FormData(document.getElementById('fileForm'));
            const {data} = await axios.post('/upload',form);
            console.log(data);
            // evalu.innerText = data;
            // image.innerHTML = `<img src="${path}" alt="image"/>`;
        }
    </script>
</html>